# Лабораторная №2

## Условия, циклы, функции


Нам дали задачу проверить, является ли участок земли квадратным. В переменных `length` и `width` заданы значения длины и ширины участка. Необходимо проверить, является ли он квадратным. Сохраните в переменную `result` значение `True`, если участок квадратный, и `False` — если нет.

In [15]:
length = 121
width = 100
result = False

#Пример 2
length = 10
width = 10
result = True

In [16]:
result = False
if length == width:
    result = True
print(result)

True


Мы решили выплатить премии сотрудникам в зависимости от их стажа работы. Премия рассчитывается следующим образом:

- Если стаж работы сотрудника больше или равен 2 года, премия составляет 2 оклада.
- Если стаж работы сотрудника больше или равен 5 лет, премия составляет 5 окладов.
- Если стаж работы сотрудника больше или равен 15 лет, премия составляет 10 окладов.
- Если стаж работы меньше 2 лет, премия равна 0.

В переменной `salary` — зарплата сотрудника, в переменной `work_experience` — его стаж. Нужно вычислить размер премии и сохранить результат в переменную `result`.

In [17]:
# Пример 1
salary = 150000
work_experience = 3
result = 300000

# Пример 2
salary = 100000
work_experience = 1
result = 0

# Пример 3
salary = 200000
work_experience = 16
result = 0 #2000000

In [18]:
if work_experience >= 2:
    result = 2 * salary
    if work_experience >= 5:
        result = 5 * salary
        if work_experience >= 15:
            result = 10 * salary
else:
    result = 0

print(result)

2000000

Есть словарь `sales`, содержащий информацию о продуктах и их ценах в магазине. В список `affordable_products` нужно сохранить названия всех продуктов, которые стоят меньше или равны 500.

In [19]:
sales = {
    "laptop": 700,
    "smartphone": 100,
    "headphones": 50,
    "mouse": 20,
    "keyboard": 40
}
# Output: ['laptop', 700]

In [20]:
affordable_products = []

for s in sales:
    if sales[s] <= 500:
        affordable_products.append(s)

print(affordable_products)

['smartphone', 'headphones', 'mouse', 'keyboard']

Напишите программу, принимающую в виде аргументов два списка `lst_1` и `lst_2` и определяющую, являются ли они противоположными друг другу. Результат проверки сохраните в result в формате True или False.

Каждая пара списков будет состоять из одинаковых элементов (типа a и b). Список считается анти-списком, если все элементы в нем противоположны соответствующим элементам в первом списке.

In [21]:
lst_1 = ["1", "0", "0", "1"]
lst_2 = ["0", "1", "1", "0"]
result = True

lst_1 = [3, 4]
lst_2 = [4, 3]
result = True

lst_1 = [1, 2]
lst_2 = [2, 1]
result = False

In [22]:
lst_1 = [1, 2]
lst_2 = [2, 1]

def process_lists(list1, list2):
    for i in range(len(list1)):
        if list1[i] != list2[-(i + 1)]: 
            return False
    return True

result = process_lists(lst_1, lst_2)

print(result)

True

Задана переменная `m` — список из списков одинаковой длины. Проверьте, что суммы элементов на диагоналях равны.

Результат проверки сохраните в `result` в формате True или False.

In [23]:
# Пример 1
m = [[1, 23, 4],
     [3, 2, 1],
     [6, 3, 4]]
result = False

# Пример 2
m = [[1, 23, 4],
     [3, 2, 1],
     [1, 3, 4]]
result = True

In [24]:

t1 = t2 = 0

for i in range(len(m)):
    t1 += m[i][i]
for i in range(len(m)):
    t2 += m[i][len(m) - i - 1]

result = t1 == t2
print(result)

True

Дан список кортежей `input_list`. Отсортируйте `input_list` по 2 элементу кортежа в порядке убывания. Отфильтруйте список так, чтобы остались только те элементы, второе значение в кортеже у которых кратно 5.

Результат сохраните в `result`.

Для решения задачи используйте lambda-функцию.

In [25]:
input_list = [('Anna', 13), ('Ivan', 20), ('Irina', 23), ('Olga', 25),
              ('Ivan', 30), ('Oleg', 24), ('Olga', 26)]
result = [('Ivan', 30), ('Olga', 25), ('Ivan', 20)]

In [26]:
list1 = []
for l in input_list:
    if l[1] % 5 == 0:
        list1.append(l)
list2 = sorted(list1, key=lambda x: x[1], reverse=True)
print(list2)

[('Ivan', 30), ('Olga', 25), ('Ivan', 20)]

Гипотеза Коллатца: какое бы начальное натуральное число n мы ни взяли, рано или поздно мы получим единицу, если выполняем следующие преобразования:

- Если n чётное, то делим его на 2;
- Если n нечётное, то умножаем на 3 и прибавляем 1 (получаем 3n + 1).
Напишите функцию `def collatz_conjecture()`, которая будет принимать натуральное число n и возвращать последовательность чисел, полученных указанными выше преобразованиями.

In [27]:
def collatz_conjecture(n):
    ...

collatz_conjecture(8) # -> [8, 4, 2, 1]
collatz_conjecture(3) # -> [3, 10, 5, 16, 8, 4, 2, 1]

In [28]:
def collatz_conjecture(n):
    list = []
    list.append(n)
    while n != 1:
        if n % 2 == 0:
            n = n // 2
        else:
            n = 3 * n + 1
        list.append(n)
    return list

collatz_conjecture(3)

[3, 10, 5, 16, 8, 4, 2, 1]